.container {
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.auth_container {
    display: flex;
    gap: 20px;
}

.container ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 10px;
}
